<div class="padding">
    <div>
        <h1>Badge</h1>
        <p>Badges are ways to label system objects. They can be descriptive or numeric.</p>
    </div>
    <div class="padding-bt">
        <h3>Contextual Variations</h3>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
    </div>
    <div class="padding-bt">
        <h3>Types</h3>
        <h5>Pill</h5>
        <span class="badge badge-pill badge-primary">Primary</span>
        <span class="badge badge-pill badge-secondary">Secondary</span>
        <span class="badge badge-pill badge-success">Success</span>
        <span class="badge badge-pill badge-danger">Danger</span>
        <span class="badge badge-pill badge-warning">Warning</span>
        <span class="badge badge-pill badge-info">Info</span>
        <span class="badge badge-pill badge-light">Light</span>
        <span class="badge badge-pill badge-dark">Dark</span>
        <div>
            <h5>Link</h5>
            <a href="#" class="badge badge-primary">Primary</a>
            <a href="#" class="badge badge-secondary">Secondary</a>
            <a href="#" class="badge badge-success">Success</a>
            <a href="#" class="badge badge-danger">Danger</a>
            <a href="#" class="badge badge-warning">Warning</a>
            <a href="#" class="badge badge-info">Info</a>
            <a href="#" class="badge badge-light">Light</a>
            <a href="#" class="badge badge-dark">Dark</a>
        </div>
    </div>
    <div class="badge-states padding-bt">
        <h3>States <span style="color: red">#To Do</span></h3>
        <a href="#" class="badge badge-primary">Active</a>
        <a href="#" class="badge badge-primary">Hover</a>
        <a href="#" class="badge badge-primary">Focused</a>
        <a href="#" class="badge badge-primary">Disabled</a>
    </div>
</div>