<div class="checkboxes">
    <div class="ff-checkbox">
        <label class="ff-checkbox-label">
          <input type="checkbox" class="ff-checkbox-input" value="">Option 1
        </label>
      </div>
      <div class="ff-checkbox">
        <label class="ff-checkbox-label">
          <input type="checkbox" class="ff-checkbox-input" value="">Option 2
        </label>
      </div>
      <div class="ff-checkbox">
        <label class="ff-checkbox-label">
          <input type="checkbox" class="ff-checkbox-input" value="" disabled>Option 3
        </label>
      </div>
</div>