<div class="radiobuttons">
    <div class="ff-radio">
        <label class="ff-radio-label">
          <input type="radio" class="ff-radio-input" name="optradio">Option 1
        </label>
      </div>
      <div class="ff-radio">
        <label class="ff-radio-label">
          <input type="radio" class="ff-radio-input" name="optradio">Option 2
        </label>
      </div>
      <div class="ff-radio disabled">
        <label class="ff-radio-label">
          <input type="radio" class="ff-radio-input" name="optradio" disabled>Option 3
        </label>
      </div>
</div>