<div class="padding">
    <h1>HELLO Buttons</h1>
    <p>Buttons come in various shapes, sizes, styles and levels of interactivity.</p>
    <div class="padding-bt">
        <h3>Large Buttons</h3>
        <p>Large buttons have a minimum width of 88px</p>
        <button class="btn btn-lg btn-primary">Primary</button>
        <button class="btn btn-lg btn-secondary">Secondary</button>
        <button class="btn btn-lg btn-success">Success</button>
        <button class="btn btn-lg btn-danger">Danger</button>
        <button class="btn btn-lg btn-warning">Warning</button>
        <button class="btn btn-lg btn-info">Info</button>
        <button class="btn btn-lg btn-light">Light</button>
        <button class="btn btn-lg btn-dark">Dark</button>
        <button class="btn btn-lg btn-link">Link</button>
    </div>
    
    <div class="padding-bt">
        <h3>Small Buttons</h3>
        <p>Small buttons have a minimum width of 80px</p>
        <button class="btn btn-sm btn-primary">Primary</button>
        <button class="btn btn-sm btn-secondary">Secondary</button>
        <button class="btn btn-sm btn-success">Success</button>
        <button class="btn btn-sm btn-danger">Danger</button>
        <button class="btn btn-sm btn-warning">Warning</button>
        <button class="btn btn-sm btn-info">Info</button>
        <button class="btn btn-sm btn-light">Light</button>
        <button class="btn btn-sm btn-dark">Dark</button>
        <button class="btn btn-sm btn-link">Link</button>
    </div>
    
    <div class="padding-bt">
        <h3>Outline Buttons</h3>
        <button class="btn btn-lg btn-outline-primary">Primary</button>
        <button class="btn btn-lg btn-outline-secondary">Secondary</button>
        <button class="btn btn-lg btn-outline-success">Success</button>
        <button class="btn btn-lg btn-outline-danger">Danger</button>
        <button class="btn btn-lg btn-outline-warning">Warning</button>
        <button class="btn btn-lg btn-outline-info">Info</button>
        <button class="btn btn-lg btn-outline-light">Light</button>
        <button class="btn btn-lg btn-outline-dark">Dark</button>
        <button class="btn btn-lg btn-outline-link">Link</button>
    </div>
    <div class="padding-bt">
        <h3>Buttons with icons</h3>
        <button type="button" class="btn btn-primary"><span class="fa fa-comment mr-1"></span> Primary</button>
        <button type="button" class="btn btn-secondary"><span class="fa fa-comment mr-1"></span>
        Secondary</button>
        <button type="button" class="btn btn-success"><span class="fa fa-comment mr-1"></span> Success</button>
        <button type="button" class="btn btn-info"><span class="fa fa-comment mr-1"></span> Info</button>
        <button type="button" class="btn btn-warning"><span class="fa fa-comment mr-1"></span> Warning</button>
        <button type="button" class="btn btn-danger"><span class="fa fa-comment mr-1"></span> Danger</button>
        <button type="button" class="btn btn-dark"><span class="fa fa-comment mr-1"></span> Dark</button>
        <button type="button" class="btn btn-light"><span class="fa fa-comment mr-1"></span> Light</button>
        <button type="button" class="btn btn-link"><span class="fa fa-comment mr-1"></span> Link</button>

    </div>
</div>